<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 
  
   <div class="container mt-5">
       <div class="row">
           <div class="col text-center">
               <img src="img/Roy.png" alt="Roy Naldo Nathaniel" class="img-thumbnail rounded-circle" width="200">
               <h1 class="display-4">Roy Naldo Nathaniel</h1>
               <p class="lead">Useless Piece of Shiit | Crypto Expert</p>
           </div>
       </div>
   </div>
    
<%- include('layouts/footer') %> 
    